body {
    color: #E5943E;
    font-size: 3em;
    background-color: #21294F; 
}

button {
    font-size: 20px;
    color: #E5943E;
    background-color: #21294F;
    border: #E5943E 3px solid;
    margin: 10px 10px 10px 0;
}

button:active {
    position: relative;
    top: 3px;
    left: 2px;
}

button:hover {
    color: #21294F;
    background-color: #E5943E;
}

nav button {
    padding: 10px;
    margin: 3px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

nav {
    display: inline-flex;
}

