body {
    color: #E5943E;
    background-color: #21294F; 
}

button {
    font-size: 20px;
    color: #E5943E;
    background-color: #21294F;
    border: #E5943E 3px solid;
    margin: 10px 10px 10px 0;
    transition: all 0.3s ease-in-out;
    user-select: none;
    cursor: hand;
}

button:hover {
    color: #21294F;
    background-color: #E5943E;
}

button:disabled {
    font-weight: bold;
    color: #21294F;
    background-color: #E5943E;
    pointer-events: none;
    cursor: default !important;
}

.navbar {
    display: flex;
    width: 100%;
}

.navbar button {
    display: block;
    width: 100%;
    padding: 14px 28px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
}

p {
    font-size: 30px;
    font-weight: bold;
}
